html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    background-color: #424242;
}

/*for all pages*/
/*topmenu*/
.topmenu {
    z-index: 2;
    position: fixed;
    height: 12%;
    width: 100%;
    background-color: #424242;
}
.top {
    max-width: 400px;
    margin:6px 10px 5px 10px;
}

/*menuicon*/
.menuicon {
    z-index: 2;
    width: auto;
    padding-left: 3%;
    color: #F5F5F5;
    font-size: 24px;
    display: inline-block;
    cursor: pointer;
}
/*header*/
 .header {
    color: #F5F5F5;
    font-family: courier;
    font-size: 36px;   
    padding-left: 18%;
    padding-top: 4%;
    text-align: center;
    display: inline-block;
}


/*menu bar*/
.menu {
    height: 100%;
    width: 0px;
    z-index: 3;
    padding-top: 60px;
    top: 0;
    left: 0;    
    position: fixed;
    overflow-x: hidden; 
    background-color: #111;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.menu a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 150%;
    color: #818181;
    display: block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.menu a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

.menu .text a {
    font-size: 130%;
    font-family:courier;
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    margin-top: 6px;
    margin-bottom: 6px;
    display:block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    color: #818181;
    text-align: center;
}

.menu .text a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

.menu .hideicon {
    position: absolute;
    top: 3px;
    left: 0px;
    padding:0px 12px;
    margin-left: 0px
    font-size: 200%;
    color: #818181;
}

@media screen and (max-height: 450px) {
  .menu {padding-top: 15px;}
  .menu a {font-size: 18px;}
  .menu .text a {font-size: 18px;}
}
/*end for all pages*/

/*friend recommendation card*/
.card {
    z-index:1;
    margin-top:16%;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:92%;
    overflow: scroll;
    background-color: #424242;
}

.friend_recommendation_card {
    max-width: 98%;
    max-height: 100%;
    margin: auto;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    position:relative;
    border-radius: 8px;
    border-color: #F5F5F5;
}

/*head*/
.friend_recommendation_card img {
    width: 50%;
    height: 50%;
    display: block; 
    margin: 5% auto;
    border: 2px solid #F5F5F5;
    border-radius: 16px;
}

.name {
    font-family: courier;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.container1 {
    padding:0.01em 16px;
}

.container1::after {
    content: "";
    clear: both;
    display: table;
}

.container2 {
    height: 10%;
    background: url("http://cdn.phillymag.com/wp-content/uploads/2015/01/friends.jpg") no-repeat fixed;
    background-size: 100% 40%;
    border-radius: 8px;  /*border-radius is same as .friend_recommendation_card*/
    background-origin: border-box;
}

.container3 {
    margin-top:16px!important;
    margin-bottom:16px!importantï¼›
}

.container3::after {
    content: "";
    clear: both;
    display: table;
}

.gotcha {
    font-family: courier;
    color: #F5F5F5;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    padding: 5% 0 5% 0;
    -webkit-animation-name: fadeAndScale; /* Safari 4.0 - 8.0 */
    animation-name: fadeAndScale;
    -webkit-animation-timing-function: cubic-bezier(.71,.55,.62,1.57); /* Safari 4.0 - 8.0 */
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: backwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: backwards;
    -webkit-animation-delay: 0.3s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.3s;
}

@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.9, .9);
        text-shadow: 0 0 50px #fff;
    }
    to {
        opacity: 1;
        transform: scale(1.2, 1.2);
        text-shadow: 0 0 1px #fff;
    }
}

@-moz-keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.9, .9);
        text-shadow: 0 0 50px #fff;
    }
    to {
        opacity: 1;
        transform: scale(1.2, 1.2);
        text-shadow: 0 0 1px #fff;
    }
}

@-webkit-keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.9, .9);
        text-shadow: 0 0 50px #fff;
    }
    to {
        opacity: 1;
        transform: scale(1.2, 1.2);
        text-shadow: 0 0 1px #fff;
    }
}

.container3 button {
    outline: 0;
    padding: 8px;
    margin-left: 10%;
    margin-bottom: 5px;
    color: #85C1E9;
    background-color: #FDFEFE;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 2px solid #85C1E9;
    border-radius: 8px;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 8px; 
    vertical-align:middle;
    overflow:hidden;
    white-space:nowrap;
}

.container3 button:hover {
    opacity: 0.8;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.container3 button:nth-child(1){
    display: inline-block;
}

.container3 button:nth-child(2){
    display: inline-block;
}

.container3 button:nth-child(3){
    display: inline-block;
}

.container3 button:nth-child(4){
    display: inline-block;
}
.details {
    width: 76%;
    font-size: 15px;
    text-align: left;
    margin-left: 12%!important;
    margin-right: 12%!important;
    display: none!important;
    padding-top: 8px;
    color: #7F8C8D;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.coupon {
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center; 
    color: #CC0000;
    display: none!important;
    padding: 10px 2.5% 10px 2.5%;
}

.show{
    display: block!important;
}