html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    overflow: hidden;
}

/*for all pages*/
/*topmenu*/
.topmenu {
    position: absolute;
    height: 18%;
    width: 100%;
    background-color: #FFFFFF;
}
.top {
    max-width: 400px;
    margin:10px 10px 10px 10px;
}

/*menuicon*/
.menuicon {
    width: auto;
    padding-left: 3%;
    color: #818181;
    font-size: 24px;
    display: inline-block;
    cursor: pointer;
}
/*header*/
 .header {
    color: #333333;
    font-family: courier;
    font-size: 36px;   
    padding-left: 18%;
    padding-top: 4%;
    text-align: center;
    display: inline-block;
}


/*menu bar*/
.menu {
    height: 100%;
    width: 0px;
    z-index: 3;
    padding-top: 60px;
    top: 0;
    left: 0;    
    position: fixed;
    overflow-x: hidden; 
    background-color: #111;
    transition: 0.5s;
}

.menu a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 150%;
    color: #818181;
    display: block;
    transition: 0.3s
}

.menu a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

.menu .text a {
    font-size: 130%;
    font-family:courier;
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    margin-top: 6px;
    margin-bottom: 6px;
    display:block;
    transition: 0.3s;
    color: #818181;
    text-align: center;
}

.menu .text a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

.menu .hideicon {
    position: absolute;
    top: 3px;
    left: 0px;
    padding:0px 12px;
    margin-left: 0px
    font-size: 200%;
    color: #818181;
}

@media screen and (max-height: 450px) {
  .menu {padding-top: 15px;}
  .menu a {font-size: 18px;}
  .menu .text a {font-size: 18px;}
}
/*end for all pages*/

/*for home page*/
.background {
    height: 50%;
    width: 100%;
    margin-top: 35%;
    background-image: url("../img/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.startbutton {
  border-radius: 8px;
  background-color: #111;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 170%;
  width: 50%;
  height: 10%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 6% 25% 10% 25%;
}

.startbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.startbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.startbutton:hover span {
  padding-right: 25px;
}

.startbutton:hover span:after {
  opacity: 1;
  right: 0;
}
/*end for home page*/

/*for imageslide*/
/* Wrapper with padding */
.frame {
    height: 50%;
    padding: 5%;
    margin-top: 70px;
}

#tinderslide {
    position: relative;
    background: #fff;
    width: 95%;
    height: 100%;
}

#tinderslide ul {
    margin: 0;
    position: relative;
    display: block;
    height: 100%;
}

#tinderslide li {
    display: block;
    width: 100%;
    height: 130%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 2;
    left: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 10px 10px 10px 10px;
    background: #eee;
    font-size: 200%;
    font-family: courier;
    color: #000;
    border: 1px solid #fff;
    border: 1px solid #dfdfdf;
    border: 1px solid rgba(96, 96, 96, 0.2);
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

/* Image text */
#tinderslide li h2 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .2);
}

/* Image rotation */
#tinderslide li.pane1 {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

#tinderslide li.pane2 {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}

/* Like & dislike badge images */
#tinderslide .like {
    background: url("../img/heart.png") no-repeat scroll 0 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    left: 30px;
    top: 80px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1) rotate(15deg);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1) rotate(15deg);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1) rotate(15deg);
    -o-transform: translate3d(0%,0,0) scale3d(1,1,1) rotate(15deg);
    transform: translate3d(0%,0,0) scale3d(1,1,1) rotate(15deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#tinderslide .dislike {
    background: url("../img/dislike.png") no-repeat scroll 0 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    left: 100px;
    right: auto;   
    top: 60px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1) rotate(-15deg);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1) rotate(-15deg);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1) rotate(-15deg);
    -o-transform: translate3d(0%,0,0) scale3d(1,1,1) rotate(-15deg);
    transform: translate3d(0%,0,0) scale3d(1,1,1) rotate(-15deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Image container */
#tinderslide .img {
    height: 90%;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /*-webkit-transform: translate3d(0,0,0) scale3d(1,1,1);*/
    -webkit-transform-style: preserve-3d;
}

/* Action - buttons */
.actions {
    text-align: center;
    width: 265px;
    margin: 0 auto;
    overflow: hidden;
}

.actions div {
    position: relative;
    display: inline-block;
    margin-right: -4px;
}

.actions a i {
    display: inline-block;
    width: 40px;
    height: 80px;
}

.actions a.dislike i {
    background: url("../img/dislike_button.png")  scroll center center;
    height: 80%;
    width: 80%;
    background-size: cover;
    background-repeat: no-repeat;
}

.actions a.like i {
    background: url("../img/like_button.png") scroll center center;
    height: 80%;
    width: 80%;
    background-size: cover;
    background-repeat: no-repeat;
}

.actions a {
    float: left;
    display: block;
    background-image: -webkit-gradient(linear, left top, left bottom);
    background-image: -webkit-linear-gradient(top); /* For Safari 5.1 to 6.0 */
    background-image: -moz-linear-gradient(top); /* For Firefox 3.6 to 15 */
    background-image: -ms-linear-gradient(top);
    background-image: -o-linear-gradient(top); /* For Opera 11.1 to 12.0 */
    margin: 36px;
    margin-top: 60px;
    width: 60px;
    height: 60px;
    position: relative;
    text-align: center;
    line-height: 144px;
}

/* jTinder images */
#tinderslide .pane5 .img {
    background: url("../img/pane/5.jpg") scroll center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#tinderslide .pane4 .img {
    background: url("../img/pane/4.jpg") scroll center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#tinderslide .pane3 .img {
    background: url("../img/pane/3.jpg") scroll center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#tinderslide .pane2 .img {
    background: url("../img/pane/2.jpg") scroll center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#tinderslide .pane1 .img {
    background: url("../img/pane/1.jpg") scroll center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* jTinder status text */
#status {
    text-align: center;
    font-size: 18px;
    font-family: arial;
    margin-top: 30px;
    font-weight: bold;
}
/*end imageslide*/
