<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Touch Slider-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/coupons.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/imageslide.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='lib/w3.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <div class="w3-container">

        <div class="top" style="height:80px">
            <!-- menuicon -->
            <span class="menuicon" onclick="openNav()">
                <i class="fa fa-bars"></i>
            </span>
            <!-- header -->
            <div class="header">Coupons</div>
        </div>

        <div class="ScrollStyle">
            {%for item in rec_set%}
                <div class="w3-container">
                    <img src="{{item['rec'].pic1}}" class="w3-left w3-margin-right" style="width:150px; height: 120px">
                    <p>{{item['rec'].name}}</p>
                    <p>sharing with {{item['friend']}}</p>
                    <form action="{{url_for('deal_coupon',user_name=user_name,friend_name=item['friend'])}}" method="POST">
                        <button type="submit" class="w3-button w3-red" name="rec" value="{{item['rec'].name}}">{{item['rec'].coupon}}
                        </button>
                    </form>
                </div>
                <br>
            {% endfor %}
        </div>
        </div>

    <!-- Hidden Sidenav (reveals when clicked on menu icon)-->
    <div class="menu" id="mySidenav">
            <a href="javascript:void(0)" class="hideicon" onclick="closeNav()">
                <i class="fa fa-remove"></i>
            </a>
            <div class="text">
                <a href="{{url_for('givePicture', user_name=user_name)}}">Home</a>
                <a href="{{url_for('getSelfProfile',user_name=user_name)}}">Profile</a>
                <a href="{{url_for('getFriend',user_name=user_name)}}" >Friends</a>
                <a href="{{url_for('getCoupon',user_name=user_name)}}">Coupons</a>
                <a href="{{url_for('showtime')}}">Website</a>
                <a href="{{url_for('Mainpage')}}">Log out</a>
            </div>
    </div>
    <p></p>
    <p></p>
    <!-- bottom bar -->
    <!-- <div class="w3-bar w3-display-bottomleft w3-black w3-mobile" style="height:10%;width: 100%; display: inline;">
        <button class="w3-bar-item w3-button w3-center" style="font-size:36px;width:33.333%;"><i class="fa fa-home"></i></button>
        <button class="w3-bar-item w3-button w3-center" style="font-size:36px;width:33.333%;"><i class="fa fa-gift"></i></button>
        <button class="w3-bar-item w3-button w3-center" style="font-size:36px;width:33.333%;"><i class="fa fa-child"></i></button>
    </div> -->

    <!-- Open and close sidenav -->
    <script>
    function openNav() {
    document.getElementById("mySidenav").style.width = "50%";
    }

    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    }

    </script>

</body>
</html>