<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Touch Slider-->
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/imageslide.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='lib/w3.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
        function show_profile(fid){
            document.getElementById('friend').value=fid
            document.getElementById('myform').submit();
        }
    </script>


</head>
<body>

    <div class="w3-container">

        <div class="top" style="height:80px">
            <!-- menuicon -->
            <span class="menuicon" onclick="openNav()">
                <i class="fa fa-bars"></i>
            </span>
            <!-- header -->
            <div class="header">Friends</div>
        </div>


         <div class="w3-card-5">
            {% for f in friendlist %}
                <div class="w3-container" id="{{f.name}}" onClick="show_profile(this.id)">
                    <img src="{{f.image}}" class="w3-left w3-circle w3-margin-right" style="width:80px">
                    <p>{{f.name}}</p>
                </div>
                <hr>
            {% endfor %}
         </div>
         <p>Friend Request</p>
         <div class="w3-card-5">
            {% for p in pendlist %}
                <div class="w3-container" >
                    <img src="{{p.image}}" class="w3-left w3-circle w3-margin-right" style="width:80px">
                    <p>{{p.name}}</p>
                    <a href="{{url_for('add_friend',user_name=user_name,friend_name=p.name)}}">ADD</a>
                    <a href="{{url_for('deny_friend',user_name=user_name,friend_name=p.name)}}">LATER</a>
                </div>
                <hr>
            {% endfor %}
         </div>


    <form id="myform"  action="{{ url_for('getFriendProfile', user_name=user_name)}}" method='POST'>
        <input type="hidden" id="friend" name="friend"/>
    </form> 
    
    <!-- Hidden Sidenav (reveals when clicked on menu icon)-->
    <div class="menu" id="mySidenav">
            <a href="javascript:void(0)" class="hideicon" onclick="closeNav()">
                <i class="fa fa-remove"></i>
            </a>
            <div class="text">
                 <a href="{{url_for('givePicture', user_name=user_name)}}">Home</a>
                <a href="{{url_for('getSelfProfile',user_name=user_name)}}">Profile</a>
                <a href="{{url_for('getFriend',user_name=user_name)}}" >Friends</a>
                <a href="{{url_for('getCoupon',user_name=user_name)}}">Coupons</a>
                <!--<a href="#restaurants">Restaurants</a>-->
                <a href="#settings">Settings</a>
                <!--<a href="#about">About</a>-->
            </div>
    </div>

    <!-- bottom bar -->
    <div class="w3-bar w3-display-bottomleft w3-black w3-mobile" style="height:10%;width: 100%; display: inline;">
        <button class="w3-bar-item w3-button w3-center" style="font-size:36px;width:33.333%;"><i class="fa fa-home"></i></button>
        <button class="w3-bar-item w3-button w3-center" style="font-size:36px;width:33.333%;"><i class="fa fa-gift"></i></button>
        <button class="w3-bar-item w3-button w3-center" style="font-size:36px;width:33.333%;"><i class="fa fa-child"></i></button>
    </div>

    <!-- Open and close sidenav -->
    <script>
    function openNav() {
    document.getElementById("mySidenav").style.width = "50%";
    }

    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    }
    </script>

</body>
</html>